*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  padding: 50px;
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

h2 {
  color: white;
}
